/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.column {
  flex-direction: column;
}

button {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border: none;
  background-color: #262933;
  color: #fff;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 4px;
  position: relative;
}

button.disabled {
  background-color: #1b1e25;
  color: #646876;
  cursor: default;
}

button[type="submit"].disabled {
  opacity: 0.4;
}

button.selected {
  border: solid 1px #aecbfc;
  color: #aecbfc;
  background-color: #262933;
}

button[type="submit"] {
  border: solid 1px #85b6ff;
  color: #85b6ff;
  text-align: center;
}

input,
textarea {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #464c5e;
  background-color: #14161c;
  color: #a2a2a2;
}

.connector-icon {
  height: 17px;
  width: 17px;
}

.connector-icon > svg {
  height: 17px;
  width: 17px;
}

.get-started-title::before {
  content: "Manage ";
}

.get-started-title::after {
  content: " Starknet accounts";
}

.get-started-title {
  color: #6f727c;
}

.get-started-title::before,
.get-started-title::after {
  color: #fff;
}

.truncate {
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
